<!DOCTYPE HTML>
<html>

<head>
    {% load plotly_dash%}
    {% load static%}
    {% load bootstrap4%}
    {% bootstrap_css%}
    {% bootstrap_javascript jquery="full"%}
    {% block extra_header%}{% endblock%}
    {% block app_header_css%}
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="{%static 'main.css'%}">
    </link>
    {% endblock%}
    {% plotly_header%}
    <title>BANZAI-FLOYDS - {% block title%}{% endblock%}</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <navbar-nav>
                <a class="navbar-brand" href="#">
                    <img class="logo" src="https://cdn.lco.global/mainstyle/img/LCO_logo_transparent_with_coords.png" alt="Las Cumbres Observatory" />
                </a>
                
            </navbar-nav>

    <ul class="navbar-nav ml-auto" style="width: 10%; height: 20%">
        <li class="nav-item dropdown ml-auto">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" style="background-color:transparent" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-alt" style="color:white"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right mr-auto" aria-labelledby="dropdownMenu2" style="min-width: 20rem; text-align: center;">
                    {% if 'auth_token' in request.session %}
                    {% block logout %}
                    <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <div>Logged in as <b>{{ request.session.username }}</b>.</div>
                    <button type="submit" class="btn btn-primary">Logout</button>
                    </form>
                    {% endblock %}
                    {% else %}
                    {% block login %}
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {{ form.non_field_errors }}
                        </div>
                        {% endif %}
                        <div class="form-group" id="username-group">
                            <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
                        </div>
                        <div class="form-group" id="password-group">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                    {% endblock %}
                    {% endif %}
                </div>
            </div>
        </li>
    </ul>
        </nav>
    </header>
    <main>
        {% block main_top%}{% endblock%}
        <div class="container">
            {% block content%}{% endblock%}
        </div>
    </main>
    {% block footer%}
    {% endblock%}
</body>
{% block post_body%}{% endblock%}
{% plotly_footer%}

</html>
