{%extends "base.html"%}
{%load plotly_dash%}

{%block title%}BANZAI FLOYDS{%endblock%}

{%block content%}

<h1>BANZAI-FLOYDS Reprocessing
    <span class="help-mark" data-bs-toggle="tooltip" title="Click for Docs">
        <a href="https://banzai-floyds.readthedocs.io/en/latest/index.html" target="_blank"> ?</a>
    </span>
</h1>
<p></p>
<div class="card border-dark">
    <div class="card-body">
        <div class="{%plotly_class name=' banzai-floyds' template_type='div-direct' %}">
            {%plotly_direct name="banzai-floyds"%}
        </div>
    </div>
</div>
<p></p>
{%endblock%}
