name: "Continuous Deployment"
on:
  push:
    branches:
      - main
  release:
    types:
      - published

jobs:
  cd:
    group: massive
    uses: LCOGT/reusable-workflows/.github/workflows/continuous-deployment.yaml@main
    secrets: inherit
