name: "Continuous Deployment"
on:
  push:
    branches:
      - main
  release:
    types:
      - published

jobs:
  cd:
    runs-on:
      group: massive
    steps:
      - uses: LCOGT/reusable-workflows/.github/workflows/continuous-deployment.yaml@main
        with:
          secrets: inherit
